.root {
  background: #fff;
  padding: 8px 16px;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
}

.root:last-child {
  border-bottom: none;
}

.button {
  cursor: pointer;
}

.button:hover {
  background: rgba(0, 0, 0, 0.02);
}
